.tab-section {
    background-color: #f5f5f5;
    width: 100%;
    padding: 9.1875rem 0 7.125rem;
}


.tab-main-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.main-content-wrapper-flex {
    display: flex;
    justify-content: space-evenly;
}




.tab-item-card {

    display: flex;
    flex-direction: column;
    flex-basis: 15%;
    height: 348px;
    justify-content: center;
}


.tab-item {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fafafa;
    font-weight: 700;
    font-size: 20px;
    background-color: #ff8b38;
    margin-bottom: 1px;
    position: relative;
    cursor: pointer;
    max-width: 170px;


}
.hide-item {

    background-color: #333333;

}

.show-item {
    background-color: #ff8b38;

}

.tab-main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 0 1 49%;
}



.tab-content-title {
    color: #000000;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    margin-bottom: 52px;
}

.tab-content-description {
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    margin-bottom: 51px;

}

.tab-content-download-btn {
    background-color: #ff8b38;
    color: #ffffff;
    font-family: "Open Sans - Semibold";
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    outline: none;
    border: none;
    padding: 0;
    width: 121px;
    height: 46px;
}

.close-btn {
    position: absolute;
    height: 20px;
    padding: 0 2px;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 1px solid #ccc;
    cursor: pointer;
}

.tab-inner-image {

    flex: 0 0 33%;

}

.hide {
    display: none;

}

.cursor {
    display: none;
    transition: all .3s linear;
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgb(128, 50, 255);
}

.show {

    display: flex;
}


.fade {
    animation-name: fade;
    animation-duration: 1s;
}



@keyframes fade {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}