* {
    box-sizing: border-box;

}

.flexbox-awesome {
    width: 100%;

}
.container {
    margin:  0 auto;
    width: 1400px;
    background-color: #ffffff;
    text-align: center;
    margin-top: 108px;

}

.flexbox-awesome__container_title {
    color: #212121;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 43px;
    text-align: center;
    text-transform: uppercase;
}

.divider {
    display: inline-block;
    margin-top: 30px;
    width: 64px;
    height: 2px;
    background-color: #ff8b38;

}

.flexbox-awesome__container-text {
    margin-top: 30px;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
}

.flexbox-awesome__container-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flexbox-awesome__container-card {
margin-top: 80px;

}
.card-item {
    width: 350px;    
}


.card-item-content-icon {
    width: 70px;
    height: 70px;
    border: 3px solid #ff8b38;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    

}


.card-item-content-title {
    margin-top: 29px;
    color: #333333;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
}

.card-item-content-description {
    margin-top: 25px;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: center;
}
